<form class="message-box bg-white rounded rounded-3" [class.full-screen]="isFullScreen" [formGroup]="messageForm"
    (ngSubmit)="onSubmit()">
    <div class="message-top w-100 d-flex align-items-center justify-content-between rounded rounded-3 rounded-bottom-0">
        <span class="fw-semibold mx-2">Новое сообщение</span>
        <div class="">
            <button type="button" class="btn bg-transparent fs-3 border-0"
                (click)="changeScreen(!isFullScreen)">{{isFullScreen ?
                '⇲':'⇱'}}</button>
            <button type="button" class="btn bg-transparent fs-3" (click)="closeWriteModal()">⤬</button>
        </div>
    </div>
    <div class="message-user w-100 d-flex">
        <input list="writeList" type="text" placeholder="Получатели"
            class="border-0 border-bottom form-control input-focus" (input)="userInputChange()" formControlName="to">
        <datalist id="writeList" class="w-100">
            <option *ngFor="let item of filteredUsersList" class="w-100" [value]="item?.name">
        </datalist>
    </div>
    <div class="message-title w-100 d-flex">
        <input type="text" placeholder="Тема" class="border-0 border-bottom form-control input-focus"
            formControlName="title">
    </div>
    <div class="message-body w-100 d-flex h-100 p-1">
        <textarea class="w-100 h-100 p-1" [rows]="isFullScreen ? 19 : 15" formControlName="body"></textarea>
    </div>
    <div class="w-100 d-flex p-2">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>