<section class="container-section position-relative">
    <button class="position-absolute top-0 start-0 btn rounded-circle fw-bold" (click)="goBack()">←</button>
    <h2 class="fs-4 fw-normal title-msg">{{message?.title}}</h2>
    <div class="msg-body d-flex w-100">
        <div class="msg-body-top">
            <img id=":m7_28-e" name=":m7" src="https://lh3.googleusercontent.com/a/default-user=s40-p"
                class="rounded-circle" style="background-color: #cccccc" jid="no-reply@render.com"
                data-hovercard-id="no-reply@render.com" data-name="Render" aria-hidden="true"
                data-hovercard-owner-id="103">
        </div>
        <div class="msg-body-bottom w-100 pt-2">
            <div class="d-flex justify-content-between">
                <p class="fw-bold fs-6">{{message?.from?.name}}</p>
                <p>{{message?.date | timeParsing}}</p>
            </div>
            <div [innerHTML]="message?.body | messageBodyParser"></div>
        </div>
    </div>
</section>