<div class="sidebar bg-light p-3">
    <div class="">
        <button class="col d-flex align-items-center cursor btn write-btn" (click)="openWriteModal()">
            <img src="../../../assets/create_black_24dp.svg" width="15" height="20" alt="" class="mx-1">
            Написать
        </button>
    </div>
    <div class="row p-2">
        <button class="col border-0 bg-transparent d-flex align-items-center cursor" routerLinkActive="active"
            [routerLink]="['/home','in-coming']">
            <i class="bi bi-inbox-fill"></i>
            Входящие {{inboxCount ? '(' +inboxCount +')' : ''}}
        </button>
    </div>
    <div class="row p-2">
        <button class="col border-0 bg-transparent d-flex align-items-center cursor" routerLinkActive="active"
            [routerLink]="['/home','tagged']">
            <i class="bi bi-tag-fill"></i>
            Помеченные
        </button>
    </div>
    <div class="row p-2">
        <button class="col  border-0 bg-transparent d-flex align-items-center cursor" routerLinkActive="active"
            [routerLink]="['/home','send']">
            <i class="bi bi-chat-left-dots-fill"></i>
            Отправленные
        </button>
    </div>
</div>