<div class="sidebar">
    <div class="row">
        <div class="col">
            <i class="bi bi-inbox-fill"></i>
            <span class="sidebar-label">Inbox</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="bi bi-tag-fill"></i>
            <span class="sidebar-label">Tagged</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="bi bi-chat-left-dots-fill"></i>
            <span class="sidebar-label">Incoming Messages</span>
        </div>
    </div>
</div>